{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    <h1>Reservation</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ reservation.id }}</td>
        </tr>
        <tr>
            <th>NombrePlace</th>
            <td>{{ reservation.nombrePlace }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ reservation.status.label() }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ reservation.seance ? reservation.seance.date|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>PrixTotal</th>
            <td>{{ reservation.prixTotal }}</td>
        </tr>
        <tr>
            <th>QrCode</th>
            <td>{{ reservation.qrCode }}</td>
        </tr>
        <tr>
            <th>CreatedAt</th>
            <td>{{ reservation.createdAt ? reservation.createdAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>UpdatedAt</th>
            <td>{{ reservation.updatedAt ? reservation.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_reservation_index') }}">back to list</a>

{% endblock %}
