{% extends 'base.html.twig' %}

{% block title %}avis{% endblock %}

{% block body %}
    <h1>aviss</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>User</th>
            <td>{{ avis.user.nom }} {{ avis.user.prenom }}</td>
        </tr>
        <tr>
            <th>Note</th>
            <td>{{ avis.note }}</td>
        </tr>
        <tr>
            <th>Commentaire</th>
            <td>{{ avis.commentaire }}</td>
        </tr>
        <tr>
            <th>IsVerified</th>
            <td>{{ avis.isVerified ? 'Yes' : 'No' }}</td>
        </tr>
        </tbody>
    </table>

{% endblock %}
