{% extends 'base.html.twig' %}

{% block title %}Incident{% endblock %}

{% block body %}
    <h1>Incident</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ incident.id }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ incident.date ? incident.date|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ incident.description }}</td>
        </tr>
        <tr>
            <th>Status</th>
            <td>{{ incident.status.label() }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_incident_index') }}">back to list</a>

{% endblock %}
