{% extends 'base.html.twig' %}

{% block title %}Salle{% endblock %}

{% block body %}
    <h1>Salle</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ salle.id }}</td>
        </tr>
        <tr>
            <th>Numero</th>
            <td>{{ salle.numero }}</td>
        </tr>
        <tr>
            <th>NombrePlace</th>
            <td>{{ salle.nombrePlace }}</td>
        </tr>
        <tr>
            <th>Qualite</th>
            <td>{{ salle.qualite }}</td>
        </tr>
        <tr>
            <th>Siege</th>
            <td>{{ salle.siege }}</td>
        </tr>
        <tr>
            <th>SiegePMR</th>
            <td>{{ salle.siegePMR }}</td>
        </tr>
        </tbody>
    </table>

{% endblock %}
